
<html ng-app="cs480App">
<!-- This page uses AngularJS -->
<head>
<title>Grocery Testing Page</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="/js/home-control-ajs.js"></script>
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />

</head>

<body ng-controller="ItemCtrl">
	<hr>
	<div>
		
		<div>
			<label>Add Item</label>
			<table border="1">
				<tr>
					<td>Store Code</td>
					<td>Item Name</td>
					<td>Price</td>
					<td>Add</td>
				</tr>
				<tr>
					<td><select name="singleSelect" id="singleSelect" ng-model="new_storeCode">
      					<option value="">---Please select---</option> <!-- not selected / blank option -->
      					<option value="Albertsons">Albertsons</option> <!-- interpolation -->
      					<option value="Kroger">Kroger</option>
      					<option value="Trader Joe's">Trader Joe's</option>
      					<option value="Vons">Vons</option>
    				</select></td>
					<td><input type="text" ng-model="new_name"></td>
					<td><input type="text" ng-model="new_price"></td>
					<td><button ng-click="addItem()">Add</button></td>
				</tr>
			</table>
		</div>
		<hr>
		<div>

			<label>Item List</label>
			<table border="1">
			
				<tr>
					<!-- <td>ID</td> -->
					<td>Store Code</td>
					<td>Item Name</td>
					<td>Price</td>
					<td>Creation Time</td>
					<td>Delete</td>
				</tr>
				<tr ng-repeat="item in items">
					<!-- <td>{{item.id}}</td> -->
					<td>{{item.storeCode}}</td>
					<td>{{item.name}}</td>
					<td>{{item.price}}</td>
					<td>{{item.creationTime}}</td>
					<td><button ng-click="deleteItem(item.id)">Delete</button></td>
				</tr>
				
			</table>
		</div>

		<hr>
		
	</div>
</body>

</html>