
<html ng-app="cs480App">
<!-- This page uses AngularJS -->
<head>
<title>Grocery Testing Page</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="/js/home-control-ajs.js"></script>
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body ng-controller="UserCtrl">
	<hr>

	<div>
		<label>ZIP : </label><input type="text" id="zip_code"
			ng-model="zipEntered">
		<button ng-click="saveZip()">OK</button>
		<hr>

		<!-- Fix it later -->
		<label>Zip you entered: </label>
		<td name="zipResult">{{enteredZip}}</td>
		<hr>
		
		<div>
			<label>Add item to grocery list</label>

			<textarea ng-model="list" ng-list="&#10;" ng-trim="false"></textarea>
			<pre>{{ list | json }}</pre>

		

			<!-- <tr ng-repeat="item in list">
				<td>{{item}}</td>
				<td><button ng-click="deleteItem(user.id)">Delete</button></td>
			</tr> -->


		</div>
		
		<hr>
		
		<!-- Start: Add part will be moved to Admin page later -->
		<div>
			<label>Add Item</label>
			<table border="1">
				<tr>
					<td>ID</td>
					<td>Store Code</td>
					<td>Item Name</td>
					<td>Price</td>
					<td>Add</td>
				</tr>
				<tr>
					<td><input type="text" ng-model="new_id"></td>
					<td><input type="text" ng-model="new_storeCode"></td>
					<td><input type="text" ng-model="new_name"></td>
					<td><input type="text" ng-model="new_price"></td>
					<td><button ng-click="addItem()">Add</button></td>
				</tr>
			</table>
		</div>
		<!-- End: Add part will be moved to Admin page later -->
		
		<hr>

		<div>
			<label>Search Item</label>
			<!-- userIdToSearch -->
			<input type="text" id="query_id" ng-model="itemNameToSearch">
			<button ng-click="loadUsers()">Get</button>
			<table border="1">
				<tr>
					<!-- <td>ID</td> -->
					<td>Name</td>
					<td>Price</td>
					<td>Store Code</td>
				</tr>
				<tr ng-repeat="user in users | filter:itemNameToSearch">
					<!-- <td><label>{{user.id}}</label></td> -->
					<td><label>{{user.name}}</label></td>
					<td><label>{{user.price}}</label></td>
					<td><label>{{user.storeCode}}</label></td>
				</tr>
			</table>
		</div>
		
		<hr>
		
		<div>

			<label>Item List</label>
			<table border="1">
				<tr>
					<td>ID</td>
					<td>Store Code</td>
					<td>Item Name</td>
					<td>Price</td>
					<td>Creation Time</td>
					<td>Delete</td>
				</tr>

				<tr ng-repeat="user in users">
					<td>{{user.id}}</td>
					<td>{{user.storeCode}}</td>
					<td>{{user.name}}</td>
					<td>{{user.price}}</td>
					<td>{{user.creationTime}}</td>
					<td><button ng-click="deleteItem(user.id)">Delete</button></td>
				</tr>
			</table>
		</div>

		<hr>
		
		
	</div>
</body>

</html>