<html ng-app="cs480App">
	<!-- This page uses AngularJS -->
	<head>
	    <title>Testing Page</title>
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	    <script src="/js/home-control-ajs.js"></script>
	    
	    <style>
		.center {
		    margin: auto;
		    width: 60%;
		    border:3px solid #73AD21;
		    padding: 10px;
		}
		</style>
	    
	    
	</head>

	<body ng-controller="UserCtrl">
<!-- 		<div>
	        This is a simple page to demonstrate the web UI development.
	        The key tools and techniques used include:
	        <ul>
	            <li>HTML - Obviously</li>
	            <li><a href="https://angularjs.org/">AngularJS</a></li>
	            <li><a href="http://jquery.com/">JQuery</a></li>
	            <li><a href="http://api.jquery.com/jquery.ajax/">JQuery - AJAX</a></li>
	        </ul>
	    </div>

	    <hr> -->

	    <div>
	    	<label>ZIP : </label><input type="text" id="zip_code" ng-model="zipEntered"><button ng-click="saveZip()">OK</button>
	    	<hr>
	    	
	    	<!-- Fix it later -->
	    	<label>Zip you entered: </label> <td name="zipResult">{{enteredZip}}</td>
	    	<hr>
	        <div>
	        	
	            <label>Item List</label>
	            <table border="1">
	                <tr>
	                    <td>ID</td>
	                    <td>Item Name</td>
	                    <td>Price</td>
	                    <td>Creation Time</td>
	                    <td>Delete</td>
	                </tr>

	                <tr ng-repeat="user in users">
	                    <td>{{user.id}}</td>
	                    <td>{{user.name}}</td>
	                    <td>{{user.price}}</td>
	                    <td>{{user.creationTime}}</td>
	                    
                        <td><button ng-click="deleteItem(user.id)">Delete</button></td>
	                </tr>
	            </table>
	        </div>

	        <hr>

	        <div>
	            <label>Add Item</label>
	            <table border="1">
	                <tr>
	                    <td>ID</td>
	                    <td>Item Name</td>
	                    <td>Price</td>
	                    <td>Add</td>
	                </tr>
	                <tr>
	                    <td><input type="text" ng-model="new_id"></td>
	                    <td><input type="text" ng-model="new_name"></td>
	                    <td><input type="text" ng-model="new_price"></td>
	                    <td><button ng-click="addItem()">Add</button></td>
	                </tr>
	            </table>
	        </div>

	        <hr>

	        <div>
	            <label>Search Item</label>
				<!-- userIdToSearch -->	            
	            <input type="text" id="query_id" ng-model="itemNameToSearch">
	            <button ng-click="loadUsers()">Get</button>
	            <table border="1">
	                <tr>
	                    <td>ID</td>
	                    <td>Name</td>
	                    <td>Price</td>
	                </tr>
	                <tr ng-repeat="user in users | filter:itemNameToSearch">
	                    <td><label>{{user.id}}</label></td>
	                    <td><label>{{user.name}}</label></td>
	                    <td><label>{{user.price}}</label></td>
	                </tr>
	            </table>
	        </div>
	    </div>

	</body>

</html>