
<html ng-app="cs480App"
<!-- This page uses AngularJS -->
	<head>
		<meta charset="UTF-8">
		<title>Grocery Testing Page</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
		<script src="/js/home-control-ajs.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />
		</noscript>

</head>

<body ng-controller="ItemCtrl">

	<!-- Header -->
			<header id="header">
				<h1><a href="index.html">Grocery Helper</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="index.html">Home</a></li>
					</ul>
				</nav>
			</header>

	<!-- Main -->
		<section id = "main" class = "wrapper">
		<hr>
		<div class ="container">
		
			<label>ZIP Code : </label><input type="text" id="zip_code"
			ng-model="zipEntered">
		<hr>
		<label>ZIP Code you entered: </label><pre>{{zipEntered}}</pre>
		<button ng-click="saveZip()">OK</button>
		<hr>
		
		<div>
			<label>Add item to grocery list</label>
			<hr>
			<textarea ng-model="list" ng-list="&#10;" ng-trim="false"></textarea>
			<!-- <pre>{{ list | json }}</pre> -->
			<!-- <td><button ng-click="createGroceryList()">Create Grocery List</button></td> -->
			
			
			<label>Add grocery stores</label>
			<hr>
			<textarea ng-model="storeList" ng-list="&#10;" ng-trim="false"></textarea>
			<!-- <td><button ng-click="createGroceryList()">Create Store List</button></td> -->
			<hr>
			<button style="font-size : 20px; width: 50%; height: 50px;"" ng-click="findItems()">Return Result</button>
			
		</div>
		<hr>
		
		<div>
			
			<table border="1" align="center">
				
				<tr>
					<td>Item</td>
					<td>Price</td>
					<td>Store</td>
				</tr>
				<tr ng-repeat="item in itemsToReturn" >
					<td><label>{{item.name}}</label>	
					<td><label>{{item.price}}</label></td>
					<td><label>{{item.storeCode}}</label></td>
				</tr>				
					
				</tr>					
				
			</table>
		</div>
		<hr>
	</div>
</body>

</html>